In [1]:
# %pip install psycopg2

In [1]:
import os
import psycopg2
import pandas as pd
import numpy as np

from src.blob_storage import BlobStorageHandler

from dotenv import load_dotenv
load_dotenv()

def upload_to_blob(project:str, container_name, fpath: str, overwrite: bool = False):
    conn_str = os.environ[f"{project}_CONNECTION_STRING_PROD"]
    bsh = BlobStorageHandler(conn_str=conn_str, container_name=container_name)

    file_name = os.path.basename(fpath)
    to_file_path = os.path.join(file_name)

    if bsh.blob_exists(to_file_path) and not overwrite:
        print(f"`{to_file_path}` already exists in {container_name}.")
    else:
        bsh.upload_file(fpath, to_file_path, overwrite)
        print(f"`{to_file_path}` uploaded to blob {container_name}.")

# Database connection parameters
DB_URI = "postgresql://jeraadmin:o#qW7jwKXHDw29@10.158.56.20:5432/langfuse"

def fetch_data(query):
    """
    Connects to the PostgreSQL database and executes a given SQL query.
    
    Parameters:
        query (str): The SQL query to execute.

    Returns:
        pandas.DataFrame: Query results as a Pandas DataFrame.
    """
    try:
        # Establish connection
        conn = psycopg2.connect(DB_URI)
        cursor = conn.cursor()

        # Execute the SQL query
        cursor.execute(query)

        # Fetch data
        rows = cursor.fetchall()
        colnames = [desc[0] for desc in cursor.description]  # Extract column names

        # Convert to Pandas DataFrame
        df = pd.DataFrame(rows, columns=colnames)

        if "metadata" in df.columns:
            # Convert None to an empty dictionary before expanding
            df_expanded = df['metadata'].apply(lambda x: pd.Series(x) if isinstance(x, dict) else pd.Series())
            # Concatenate original DataFrame (excluding 'metadata') with expanded columns
            df = pd.concat([df.drop(columns=['metadata']), df_expanded], axis=1)
        
        if 'timestamp' in df.columns:
            # Convert to datetime format
            df['timestamp'] = pd.to_datetime(df['timestamp'])

            # Convert UTC to JST (UTC+9)
            df['date'] = df['timestamp'].dt.tz_localize('UTC').dt.tz_convert('Asia/Tokyo')
            # Extract the date in JST
            df['date'] = df['date'].dt.date.astype(str)  # Convert to string if needed

            # Convert to ISO 8601 format with 'Z' to indicate UTC
            df['timestamp'] = df['timestamp'].dt.strftime('%Y-%m-%dT%H:%M:%S.%f').str[:-3] + 'Z'

        
        if "userId" not in df.columns:
            df = df.rename(columns={"user_id": 'userId'})

        if "scores" not in df.columns:
            df['scores'] = [[] for _ in range(len(df))]

        # Close cursor and connection
        cursor.close()
        conn.close()

        return df
    except Exception as e:
        print("Error fetching data:", e)
        return None  # Return None in case of error

In [2]:
# Example Usage
jst_start = "2025-02-12 00:00:00"
jst_end = "2025-04-02 23:59:59"
project_id = "clrp3kr2b0klybc8xargpmnfb"

query = f"""
SELECT
    *
FROM traces
WHERE
    project_id = '{project_id}'
    AND timestamp >= (TIMESTAMP '{jst_start}' AT TIME ZONE 'Asia/Tokyo') 
    AND timestamp <= (TIMESTAMP '{jst_end}' AT TIME ZONE 'Asia/Tokyo') 
ORDER BY timestamp DESC

"""  # Modify query as needed
latest_df = fetch_data(query)
latest_df = latest_df[["id","name","timestamp","userId","scores","version","user_name","user_email"]]
# ,"user_affiliation",persona,memory_on,retrieval_strategy, "observations"
latest_df

,id,name,timestamp,userId,scores,version,user_name,user_email
0,f338ff83-d59a-4dc8-86c7-044d4de71b88,EKA2,2025-04-02T14:59:29.532Z,菅谷 雅博(Masahiro Sugaya),[],prd_None,菅谷 雅博(Masahiro Sugaya),Masahiro.Sugaya@jera.co.jp
1,f03248bb-79a4-4001-9b9b-561444707d18,EKA2,2025-04-02T14:51:18.045Z,高岡 郁人(Ikuto Takaoka),[],prd_None,高岡 郁人(Ikuto Takaoka),Ikuto.Takaoka@jera.co.jp
2,a9300e20-d532-408a-b162-b0e156c43c66,EKA2,2025-04-02T14:50:26.769Z,高岡 郁人(Ikuto Takaoka),[],prd_None,高岡 郁人(Ikuto Takaoka),Ikuto.Takaoka@jera.co.jp
3,4597c040-a2dd-4d8b-8a00-83a56ec671e6,EKA2,2025-04-02T14:49:45.982Z,鈴木 仁央(Jinou Suzuki),[],prd_None,鈴木 仁央(Jinou Suzuki),Jinou.Suzuki@jera.co.jp
4,f03c4dc4-8cac-4e5e-b552-f0f0be9ae1c9,EKA2,2025-04-02T14:49:35.152Z,鈴木 仁央(Jinou Suzuki),[],prd_None,鈴木 仁央(Jinou Suzuki),Jinou.Suzuki@jera.co.jp
...,...,...,...,...,...,...,...,...
3323,6fb95c14-7398-4fad-beb3-0187dd55e18c,EKA2,2025-02-11T23:32:07.884Z,南 洋一(Yoichi Minami),[],prd_None,南 洋一(Yoichi Minami),Yoichi.Minami@jera.co.jp
3324,352926de-c2ad-4c49-ad5c-d7ab8afd9b62,EKA2,2025-02-11T23:31:39.307Z,南 洋一(Yoichi Minami),[],prd_None,南 洋一(Yoichi Minami),Yoichi.Minami@jera.co.jp
3325,ebcc2bb8-1a08-489f-ae0e-4115d762039f,EKA2,2025-02-11T23:28:48.257Z,佐藤 星斗(Hoshito Sato),[],prd_None,佐藤 星斗(Hoshito Sato),Hoshito.Sato@jera.co.jp
3326,a872628a-5d6e-4900-864d-76b511b70217,EKA2,2025-02-11T21:33:30.982Z,阿南 将(Masaru Anan),[],prd_None,阿南 将(Masaru Anan),Masaru.Anan@jera.co.jp
3327,4a22b80c-4d28-4cfc-a03f-a47a62839d05,EKA2,2025-02-11T15:33:19.179Z,石橋 克則(Katsunori Ishibashi),[],prd_None,石橋 克則(Katsunori Ishibashi),Katsunori.Ishibashi@jera.co.jp

In [3]:
old_trace_path = "data/eka2/trace/langfuse_eka2_trace.csv"
old_trace_df = pd.read_csv(old_trace_path)
merged_trace_df = pd.concat([latest_df, old_trace_df])
merged_trace_df = merged_trace_df.drop_duplicates(["id","timestamp"], keep='first')
merged_trace_df.to_csv(old_trace_path, index=False)
merged_trace_df.to_csv(old_trace_path, index=False)
upload_to_blob("SDCP", "eka2-trace", old_trace_path, overwrite=True)

`langfuse_eka2_trace.csv` uploaded to blob eka2-trace.

In [10]:
import psycopg2
import pandas as pd
import numpy as np
import json

# Database connection parameters
DB_URI = "postgresql://jeraadmin:o#qW7jwKXHDw29@10.158.56.20:5432/langfuse"

def fetch_obs_data(query):
    """
    Connects to the PostgreSQL database and executes a given SQL query.
    
    Parameters:
        query (str): The SQL query to execute.

    Returns:
        pandas.DataFrame: Query results as a Pandas DataFrame.
    """
    try:
        # Establish connection
        conn = psycopg2.connect(DB_URI)
        cursor = conn.cursor()

        # Execute the SQL query
        cursor.execute(query)

        # Fetch data
        rows = cursor.fetchall()
        colnames = [desc[0] for desc in cursor.description]  # Extract column names

        # Convert to Pandas DataFrame
        df = pd.DataFrame(rows, columns=colnames)
        
        if 'start_time' in df.columns:
            # Convert to datetime format
            df['start_time'] = pd.to_datetime(df['start_time'])

            # Convert UTC to JST (UTC+9)
            df['date'] = df['start_time'].dt.tz_localize('UTC').dt.tz_convert('Asia/Tokyo')
            # Extract the date in JST
            df['date'] = df['date'].dt.date.astype(str)  # Convert to string if needed

            # Convert to ISO 8601 format with 'Z' to indicate UTC
            df['start_time'] = df['start_time'].dt.strftime('%Y-%m-%dT%H:%M:%S.%f').str[:-3] + 'Z'
        
        if 'end_time' in df.columns:
            df['end_time'] = pd.to_datetime(df['end_time'])
            df['end_time'] = df['end_time'].dt.strftime('%Y-%m-%dT%H:%M:%S.%f').str[:-3] + 'Z'


        # Close cursor and connection
        cursor.close()
        conn.close()

        return df
    except Exception as e:
        print("Error fetching data:", e)
        return None  # Return None in case of error
    

class APIPricingHandler:
    def __init__(self):
        with open("conf/api_price.json", "r") as f:
            self.api_price = json.load(f)

    def calc_cost(
        self, model_name: str, prompt_tokens: int, completion_tokens: int
    ) -> float:

        if model_name not in self.api_price:
            print(f"cannot find model {model_name} in API pricing metadata")
            total_cost = 0.0
        else:
            prompt_price = float(self.api_price[model_name]["prompt_price"])
            completion_price = float(self.api_price[model_name]["completion_price"])

            user_cost = prompt_tokens * prompt_price / 1000
            assistant_cost = completion_tokens * completion_price / 1000

            total_cost = user_cost + assistant_cost

        return total_cost

In [6]:
# Example Usage
jst_start = "2025-02-03 00:00:00"
jst_end = "2025-04-02 23:59:59"
project_id = "clrp3kr2b0klybc8xargpmnfb"

query = f"""
SELECT
    *
FROM observations
WHERE
    project_id = '{project_id}'
    AND total_tokens > 0.0
    AND start_time >= (TIMESTAMP '{jst_start}' AT TIME ZONE 'Asia/Tokyo') 
    AND start_time <= (TIMESTAMP '{jst_end}' AT TIME ZONE 'Asia/Tokyo') 
ORDER BY start_time DESC;
"""  # Modify query as needed
new_obs_df = fetch_obs_data(query)

In [11]:
api_price_h = APIPricingHandler()
vals = new_obs_df.copy()
new_obs_df["totalCost"] = [
    api_price_h.calc_cost(
        vals["model"].values[i],
        vals["prompt_tokens"].values[i],
        vals["completion_tokens"].values[i],
    ) for i in range(len(vals))]

new_obs_df = new_obs_df.rename(columns={
    "parent_observation_id": "parentObservationId",
    "prompt_tokens": 'promptTokens', 
    "completion_tokens": 'completionTokens',
    "total_tokens": 'totalTokens',
    "start_time": 'startTime',
    "end_time": 'endTime',
    "trace_id": 'traceId',
    })

new_obs_df = new_obs_df[
    ['id', 'name', 'startTime', 'endTime', 'parentObservationId', 'type',
       'model', 'completionTokens', 'promptTokens', 'totalTokens', 'version',
       'traceId', 'totalCost']]


old_obs_path = "data/eka2/obs/langfuse-eka2-observation.csv"
old_obs_df = pd.read_csv(old_obs_path)

merged_obs_df = pd.concat([new_obs_df, old_obs_df])
merged_obs_df = merged_obs_df.drop_duplicates(["id","startTime"], keep='first')
merged_obs_df = merged_obs_df[merged_obs_df["totalTokens"] > 0.0]

merged_obs_df.to_csv(old_obs_path, index=False)
upload_to_blob("SDCP", "eka2-obs", old_obs_path, overwrite=True)

`langfuse-eka2-observation.csv` uploaded to blob eka2-obs.